body {
	cursor: default;
}

.showCalender {
	width: 40px;
	height: 40px;
	cursor: default;
}

.value {
	width: 300px;
	height: 40px;
}

.field {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}

.calender {
	border: 1px solid black;
}

.app {
	display: flex;
}

.namesOfDayInWeek {
	display: flex;
}

.namesOfDayInWeek > * {
	width: 25px;
	height: 25px;
	margin: 5px;
}

.week {
	display: flex;
}

.week > * {
	width: 25px;
	height: 25px;
	margin: 5px;
}
